*{
	margin: 0;
	padding: 0;
	padding-left: 2px;
}
.heading h1{

	font-size: 50px;
	color: orange;
	text-align: center;
	border-bottom: solid;
	border-bottom-color: black;
	border-bottom-width: 3px;
	margin-left: 520px;
	margin-right: 520px;


}
.heading p{
	font-size: 35px;

}
#formula{
	border-style: solid;
	border-width: 2px;
	margin-left: 400px;
	margin-right: 1000px;
	padding-left: 100px;
	color: #1E90FF;
}
#image{
	text-align: center;
}
.nextbutton a{
	text-decoration: none;
	text-align: left;
	color: blue;
	border: solid;
	border-width: 2px;
	padding: 2px;
	border-radius: 8px;
	font-size: 30px;
	padding-right: 5px;
	padding-left: 5px;

}
.nextbutton
{
	text-align: right;
	margin-right: 20px;
}
.nextbutton a:hover{
	background-color: blue;
	color: white;
	border-color: black;
}